p{
    font-size:0.75em;
    width:720px;
    line-height:16px;
    -moz-column-width: 150px;
    -moz-column-gap:1em;
    -webkit-column-width: 150px;
    -webkit-column-gap:1em;
    column-width: 150px;
    column-gap:1em;
     
    -moz-column-rule-color: #666;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
    -webkit-column-rule-color: #666;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    column-rule-color: #666;
    column-rule-style: solid;
    column-rule-width: 1px;
    text-align:left;
    text-indent: 2em;
        text-indent: 25%;
        text-indent: -35px;
  }
  body{
    font-family:Tahoma;
    background-color:#000;
    color:#FFF;
  }

  h1{
      color: rgb(178, 112, 216);
  }

  #keskmine{
      color:turquoise
  }